#Carpetas y modelos MODFLOW  
docs/
models/

#Build de cgal_repair
cgal_repair/build/

#Binarios compilados
*.dll
*.so
*.pyd

# Entornos virtual
.venv

# Archivos de malla
*.vtk
*.obj
*.ply
*.3mf

# Cache python
__pycache__/
*.pyc